.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
}
.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 15px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.table{
  font-size: 10px;
}
nav {
  background-color: #ffde2f;
  height: 60px;
  width: 100%;
}
lable.logo {
  color: black;
  font-size: 28px;
  line-height: 60px;
  padding: 0 100px;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  float: right;
}
nav ul {
  list-style: none;
  margin-right: 100px;
  float: right;
  padding-top: 21.5px;
}
nav ul li {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  justify-content: center;
}
nav ul li a {
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  padding: 21px 15px 20px 15px;
}
a.active,
a:hover {
  background: #ccb025;
  transition: 0.5s;
}

/* DropMenu Settings */
.dropDown {
  display: inline-block;
  position: relative;
}
.dropDown:hover .dropDown-content {
  display: inline;
}
.dropDown-content {
  display: none;
  background-color: #ffde2f;
  position: absolute;
  top: 38px;
  left: 0px;
  overflow: hidden;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.175);
}
.dropDown-content li a {
  color: black;
  display: block;
}

.dropDown-content li {
  line-height: 20px;
}
/* Header Settings*/
header {
  margin: 25px 100px;
  background-color: black;
  height: 500px;
}
